<!-- extend base layout -->
{% extends "layout.html" %}

{% block content %}
  
  <h1> KdUINO simulator </h1>

  <button id='btn_play' type="button" onclick="start_simulator()">Play</button>
  <button id='btn_stop' type="button" onclick="stop_simulator()">Stop</button>
  <input  id='chk_ThingsIO' type="checkbox" name="chkThingsIO" value="post"> Post to TheThingsIO
  <!-- </p> <a href="/v1/simulator/stream" target="_blank">The Sensor Stream</a> -->
  <h2> Asynchronous Data stream </h2>
  <textarea id="event" rows="10" cols="200"></textarea>
  <p/>
  <button  type="button" onclick="cleartext()">Clear</button>

  <script>
    function cleartext()
    {
      $('#event').prop('innerHTML', '')
    }

    function start_simulator()
    {
      postToTheThingsIO = $('#chk_ThingsIO').prop('checked')

      $.ajax({
          url: "/v1/simulator/start",
          type:'get',
          data: {postThings:postToTheThingsIO},
          dataType: 'json',
      });

      update_buttons();
    }

    function stop_simulator()
    {
      $.get( "/v1/simulator/stop");
      update_buttons();
    }


    function update_buttons()
    {
      $.get( "/v1/simulator/status", function( data ) {
        data = JSON.parse(data)
        status = data.status
        if (status == 'started')
        {
          $('#btn_play').prop('disabled',true)
          $('#btn_stop').prop('disabled',false)
          $('#chk_ThingsIO').prop('disabled',true)
        }
        else
        {
          $('#btn_play').prop('disabled',false)
          $('#btn_stop').prop('disabled',true)
          $('#chk_ThingsIO').prop('disabled',false)
        }        
      });
    }

    function new_data_from_sensor(e)
    {
     console.log(e.data);
     $('#event').prop('innerHTML', e.data + '\n' + $('#event').prop('innerHTML'));
    }

    $(document).ready(function(){
      update_buttons();
      var evtSrc = new EventSource("/v1/simulator/stream");
      evtSrc.onmessage = new_data_from_sensor;
    });
  </script>

  
{% endblock %}



